.vs/GAS_WeekTest/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
/.vs/GAS_WeekTest/FileContentIndex
/.vs/GAS_WeekTest/v17
/Intermediate
/.vs/GAS_WeekTest/CopilotIndices
*.vsidx
/.vs/Quater/v17
/Content/__ExternalActors__/TopDown/Maps/TopDownMap/0
/.vs/Quater/CopilotIndices
/Content/BlackStormAssets
